@import "tailwindcss";

@tailwindcss base;
@tailwindcss components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #edeae0;
  --text-grey: #242520;
  --text-green: #013d36;
  --graph-white:#dbdad5;
  --graph-green: #aec1bf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);


}

@font-face {
  font-family: 'MinionPro';
  src: url(../../public/fonts/MinionPro-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Premint';
  src: url(../../public/fonts/premint-Regular.otf);
  font-weight: normal;
  font-style: normal;
}